<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vue</title>
        <link rel="stylesheet" href="index.css" >
    </head>
    <body>
        <div id="app">
        <form>
                <input type="text"  v-model.trim="newst.mark"> Оцінка<br>
                <input type="text"  v-model.trim="newst.name"> Ім'я<br>
                <select  v-model="newst.group"> Група
                    <option>RPZ 17 2/9</option>
                    <option>RPZ 17 1/9</option>
                    <option>RPZ 18 2/9</option>
                    <option>RPZ 18 1/9</option>
                </select>
                    <br>
                <input type="text"  v-model.trim="newst.__v"> __v<br>
                <input type="checkbox"  v-model="newst.isDonePr"> Здав<br>
                <input type="submit" v-on:click="add()">
        </form>
            <br>


            <input type="text" v-model="piece">
            <table v-for="Student in students">
                
               <tr v-bind:class="Student.name.includes(piece)?'':'red'">
                <td>{{Student.photo}}</td> <td>{{Student.mark}}</td> <td>{{Student.isDonePr}}</td> <td>{{Student.id}} </td><td>{{Student.name}} </td><td>{{Student.group}} </td><td>{{Student.__v}} </td>
                    <td><div v-if="Student.isDonePr==true"><input type="checkbox" disabled checked="Student.zdav"></div>
                    <div v-else><input type="checkbox" disabled ></div> </td>
                    <td><a href="#" v-on:click="del(Student.id)">Delete</a></td>
            </tr> 
            <br>
            </table>
                <!-- <span style="font-size:25px;">EnterAge:</span>
                <input v-model.number="age"type="number">
                <span style="font-size:25px;">EnterMessage:</span>
                <input v-model.lazy="msg">
                <span style="font-size:25px;">EnterMessage : </span>
                <input v-model.trim="message"> -->
        </div>
        <script src=main.js></script>
    </body>
</html>